@model IEnumerable<SimpleSheets.Data.Models.EmployeeProjectMap>

@{
    ViewData["Title"] = "EmployeeProjectMapping";
}

<h1>Employee-Project Mapping</h1>

<p>
    <a asp-controller="Admin" asp-action="CreateEmployeeProjectMap">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectAssigned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectAssigned)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
