@model SimpleSheets.Data.Models.TimeSheet
@{ 
    var EmpId = ViewData["EmpId"];
    var timeTypes = ViewData["timeType"] as IEnumerable<SimpleSheets.Data.Models.TimeType>;
    var EmpUserName = ViewData["EmpUserName"];
    var projects =  ViewData["projects"]as IEnumerable<SimpleSheets.Data.Models.Projects>;
}

<h4>TimeSheet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTimeSheet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" value="@EmpId" disabled />
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" value="@EmpUserName" disabled />
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSheetEntryDate" class="control-label"></label>
                <input asp-for="TimeSheetEntryDate" class="form-control" id="datepicker" />
                <span asp-validation-for="TimeSheetEntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfHours" class="control-label"></label>
                <input asp-for="NoOfHours" class="form-control" />
                <span asp-validation-for="NoOfHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTypeId" class="control-label"></label>
                <select asp-for="TimeTypeId" name="TimeTypeId" class="form-control">
                    <option value="0">Select</option>
                    @{
                        foreach (var timeType in timeTypes)
                        {
                            <option value="@timeType.Id">@timeType.TimetypeTitle</option>
                        }
                    }
                </select>
                <span asp-validation-for="TimeTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" name="ProjectId" class="form-control">
                    <option value="0">Select</option>
                    @{
                        foreach (var project in projects)
                        {
                            <option value="@project.Id">@project.ProjectTitle</option>
                        }
                    }
                </select>
                <span asp-validation-for="TimeTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

