@model IEnumerable<SimpleSheets.Data.Models.TimeSheetsView>

<p>
    <a asp-controller="TimeSheet" asp-action="CreateTimeSheet" class="btn btn-success">Create New</a>
</p>
<div class="container">
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5" style="display: flex;">
            <form asp-action="GetSearchedTimeSheets" method="Get" style="padding: 5px;margin-right: 10px;">
                <div class="form-actions no-color">
                    <p>
                       <select name="SearchString" class="form-control" style="width:150px;max-width:150px;display:inline;">
                        <option value="All">All</option>
                        <option value="Approved">Approved</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Pending">Pending</option>
                        </select>
                        <input type="submit" value="Search" class="btn btn-success" style="background: #0c5460;border-color: unset;"/>
                    </p>
                </div>
            </form>
        @*</div>
        <div class="col-xs-7 col-sm-7 col-md-7">*@
            <form asp-action="GetDatedTimeSheets" method="get" style="padding: 5px;margin-right: 10px;">
                <p>
                    <input type="date" name="Searchdate" class="form-control" style="width:170px;max-width:170px;display:inline;"/>
                    <input type="submit" value="Search" class="btn btn-success" style="background: #0c5460;border-color: unset;"/>
                </p>
            </form>
        </div>
    </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeSheetEntryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApproverName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApprovedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApprovalStatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSheetEntryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApproverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="font-weight:bold;">
                    @if (item.ApprovalViewStatus)
                    {
                    @if (item.ApprovalStatus)
                        {
                    <span style="color:#28a745;">@Html.Label("Approved")</span>
                        }
                        else
                        {
                    <span style="color:#dc3545;">@Html.Label("Rejected")</span>
                        }
                    }
                    else
                    {
                    <span style="color:#8c5949;">@Html.Label("Pending")</span>
                    }


                </td>
                <td>
                    @if (!item.ApprovalViewStatus)
                    {
                    @Html.ActionLink("Edit", "EditTimeSheet", new {  id=item.TimeSheetRecordId  },new { @class="btn btn-primary"})
                    @Html.ActionLink("Delete", "DeleteTimesheet", new {  id=item.TimeSheetRecordId },new { @class = "btn btn-danger" })
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
